<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull"
        style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
        <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}}} /-->
        <!-- wp:post-title {"level":1} /-->
        <!-- wp:buttons -->
        <div class="wp-block-buttons"><!-- wp:button {"className":"toggle-general"} -->
            <div class="wp-block-button toggle-general"><a class="wp-block-button__link wp-element-button"
                    href="?inquiry=general">General</a></div>
            <!-- /wp:button -->

            <!-- wp:button {"className":"toggle-volunteer"} -->
            <div class="wp-block-button toggle-volunteer"><a class="wp-block-button__link wp-element-button"
                    href="?inquiry=volunteer">Volunteer</a></div>
            <!-- /wp:button -->

            <!-- wp:button {"className":"toggle-press"} -->
            <div class="wp-block-button toggle-press"><a class="wp-block-button__link wp-element-button"
                    href="?inquiry=press">Press</a></div>
            <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->

        <!-- wp:group {"className":"contact-general","layout":{"type":"constrained"}} -->
        <div class="wp-block-group contact-general"><!-- wp:paragraph -->
            <p>We work diligently to respond as quick as possible, but it may take up to a day.</p>
            <!-- /wp:paragraph -->

            <!-- wp:shortcode -->
            [contact-form-7 id="9039f76" title="General"]
            <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"className":"contact-press","layout":{"type":"constrained"}} -->
        <div class="wp-block-group contact-press"><!-- wp:shortcode -->
            [contact-form-7 id="b8aab13" title="Press"]
            <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"className":"contact-volunteer","layout":{"type":"constrained"}} -->
        <div class="wp-block-group contact-volunteer"><!-- wp:paragraph -->
            <p>We are only as strong as our community. We rely on volunteers to help in our efforts to aid more people
                in their journey to have their voice heard. We’re always looking for more kindhearted individuals that
                want to help work along side us in this mission.</p>
            <!-- /wp:paragraph -->

            <!-- wp:shortcode -->
            [contact-form-7 id="bd832c6" title="Volunteer"]
            <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->