<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
        <!-- wp:heading {"level":1} -->
        <h1 class="wp-block-heading">2025 Peaceful Protests</h1>
        <!-- /wp:heading -->

        <!-- wp:paragraph -->
        <p>Readers are encouraged to critically assess all data and information shared. While efforts are made to provide accurate and reliable information, each individual is responsible for conducting their own due diligence before making decisions or taking action based on this data.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p><strong>Before heading out, be sure to read through the </strong><a href="/">Protest Code of Conduct</a><strong>.</strong></p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p><a href="/">Information for Organizers</a></p>
        <!-- /wp:paragraph -->
		<!-- wp:buttons -->
        <div class="wp-block-buttons"><!-- wp:button -->
            <div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/submit-listing/">Submit a Protest</a></div>
        <!-- /wp:button --></div>
        <!-- /wp:buttons -->
         <!-- wp:cf7/submission-block {"postType":"cf7_protest-listing"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->